<div class="div">
    <div class="contenedor-dashboard titulo">
        <h1>Areas</h1>
    </div>
	<br>
    <div class="d-flex p-3 contenedor-dashboard" id="tablaAreas">
        <table class="table-responsive">
            <tr>
                <th class="h5">Quirófano</th>
                <td>Sala1</td>
                <td>Sala2</td>
                <td>Sala3</td>
            </tr>
            <tr>
                <th class="h5">Pediatría</th>
                <td>Sala1</td>
                <td>Sala2</td>
                <td>Sala3</td>
            </tr>
            <tr>
                <th class="h5">Neurología</th>
                <td>Sala1</td>
                <td>Sala2</td>
                <td>Sala3</td>
            </tr>
            <tr>
                <td>
                    <input type="text"
                    placeholder="Area"
                    class="form-control"
                    formControlName="area">
                </td>
                <td>
                    <input type="text"
                    placeholder="Habitación"
                    class="form-control"
                    formControlName="habitacion">
                </td>
            </tr>
        </table>
    </div>
    <button class="btn contenedor-dashboard" type="submit">Añadir Area</button>
</div>
