<div class="div">
    <div class="contenedor-dashboard titulo">
        <h1>Sobre Este Paciente</h1>
    </div>
    <br>
    <div class="d-flex flex-column p-3 contenedor-dashboard">
        <div class="h4 text-center">Gould, Anjolie</div>
        <div>
            <img class="rounded-circle perfil" alt="avatar1" src="../../assets/img/testimonials/testimonials-2.jpg"/>
            <div class="d-flex contenedor-dashboard ">
                <div>
                    <div class="h6 p-1">Documento:</div>
                    <div>68257062</div>
                </div>
                <div>
                    <div class="h6 p-1">Tipo de sangre:</div>
                    <div>B+</div>
                </div>
                <div>
                    <div class="h6 p-1">Alergias:</div>
                    <ul>
                        <li>Nueces</li>
                        <li>Lactosa</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around">
            <button class="btn contenedor-dashboard">
                <a class="btn" href="#">Ficha Clinica</a>
            </button>
            <button class="btn contenedor-dashboard">
                <a class="btn" href="#">Ficha de Epicrisis</a>
            </button>
        </div>
    </div>
</div>
