<div class="div">
    <div class="contenedor-dashboard titulo">
        <h1>Pacientes</h1>
    </div>
    <br>
    <div class="d-flex p-3 contenedor-dashboard">
        <table class="table-responsive">
            <tr>
                <th class="h5">Nombre</th>
                <th class="h5">Apellido</th>
                <th class="h5">Email</th>
                <th class="h5">DNI</th>
                <th class="h5">Habitación Actual</th>
                <th class="h5">Enfermero Asignado</th>
            </tr>
            <tr>
                <td>Anjolie</td>
                <td>Gould</td>
                <td>aenean.sed@icloud.org</td>
                <td>68257062</td>
                <td>dictum cursus.</td>
                <td>Erich Head</td>
            </tr>
            <tr>
                <td>Victor</td>
                <td>Holder</td>
                <td>est@outlook.com</td>
                <td>48577883</td>
                <td>Mauris eu</td>
                <td>Flavia Joyce</td>
            </tr>
            <tr>
                <td>Lavinia</td>
                <td>Mcgee</td>
                <td>tincidunt.donec@hotmail.ca</td>
                <td>35086860</td>
                <td>Curae Phasellus</td>
                <td>Camilla Savage</td>
            </tr>
            <tr>
                <td>Summer</td>
                <td>Puckett</td>
                <td>ut@aol.edu</td>
                <td>99762924</td>
                <td>Cum sociis</td>
                <td>Josiah Gibson</td>
            </tr>
            <tr>
                <td>Mark</td>
                <td>Baxter</td>
                <td>phasellus.vitae@outlook.ca</td>
                <td>77819680</td>
                <td>ut, pharetra</td>
                <td>Maryam Norton</td>
            </tr>
            <tr>
                <td>Ray</td>
                <td>Roth</td>
                <td>sit.amet@yahoo.net</td>
                <td>46815388</td>
                <td>amet risus.</td>
                <td>Adam Orr</td>
            </tr>
            <tr>
                <td>Harper</td>
                <td>French</td>
                <td>aliquam.eros.turpis@protonmail.ca</td>
                <td>15258012</td>
                <td>velit. Quisque</td>
                <td>Macey Aguirre</td>
            </tr>
            <tr>
                <td>Keely</td>
                <td>Ewing</td>
                <td>montes.nascetur@aol.org</td>
                <td>27763793</td>
                <td>massa. Suspendisse</td>
                <td>Nora Berger</td>
            </tr>
            <tr>
                <td>Aiko</td>
                <td>Cannon</td>
                <td>cras.sed.leo@aol.couk</td>
                <td>77832358</td>
                <td>eget, ipsum.</td>
                <td>Kimberley Hays</td>
            </tr>
            <tr>
                <td>Hammett</td>
                <td>Garrison</td>
                <td>adipiscing@google.com</td>
                <td>92496469</td>
                <td>ac, feugiat</td>
                <td>Kirestin Adams</td>
            </tr>
            <tr>
                <td>Ferdinand</td>
                <td>Brewer</td>
                <td>ac.mattis@icloud.couk</td>
                <td>38208255</td>
                <td>Mauris molestie</td>
                <td>Serena Mcguire</td>
            </tr>
            <tr>
                <td>Alexandra</td>
                <td>Whitley</td>
                <td>lacus.aliquam.rutrum@protonmail.net</td>
                <td>91771022</td>
                <td>lorem, vehicula</td>
                <td>Kibo Holcomb</td>
            </tr>
            <tr>
                <td>Avram</td>
                <td>Michael</td>
                <td>duis.a.mi@google.org</td>
                <td>15468064</td>
                <td>Maecenas iaculis</td>
                <td>Wing Pearson</td>
            </tr>
            <tr>
                <td>Barry</td>
                <td>Harvey</td>
                <td>tellus.aenean@outlook.ca</td>
                <td>46440532</td>
                <td>rhoncus id,</td>
                <td>April Douglas</td>
            </tr>
            <tr>
                <td>Quin</td>
                <td>Bradford</td>
                <td>pede.malesuada@yahoo.com</td>
                <td>52568818</td>
                <td>viverra. Maecenas</td>
                <td>Vanna Leach</td>
            </tr>
            <tr>
                <td>Quentin</td>
                <td>Rosa</td>
                <td>in.cursus@google.edu</td>
                <td>78441702</td>
                <td>luctus ut,</td>
                <td>Lamar Hinton</td>
            </tr>
            <tr>
                <td>Macy</td>
                <td>Joyner</td>
                <td>quisque.imperdiet@google.com</td>
                <td>22227357</td>
                <td>molestie sodales.</td>
                <td>May Briggs</td>
            </tr>
            <tr>
                <td>Carl</td>
                <td>Valenzuela</td>
                <td>pharetra.felis@hotmail.net</td>
                <td>66584719</td>
                <td>Phasellus elit</td>
                <td>Abbot Wilkinson</td>
            </tr>
            <tr>
                <td>Jenette</td>
                <td>Kirkland</td>
                <td>metus.aliquam.erat@outlook.net</td>
                <td>58750038</td>
                <td>dolor dolor,</td>
                <td>Catherine Hendrix</td>
            </tr>
            <tr>
                <td>Josiah</td>
                <td>Newman</td>
                <td>molestie.arcu@google.couk</td>
                <td>41728182</td>
                <td>sed pede</td>
                <td>Jakeem Norris</td>
            </tr>
<!--            <form>-->
                    <tr id="TablaPacientesInput">
                        <td>
                            <input type="text" 
                            placeholder="Nombre" 
                            class="form-control" 
                            formControlName="nombre">
                        </td>
                        <td>
                            <input type="text" 
                            placeholder="Apellido" 
                            class="form-control" 
                            formControlName="apellido">
                        </td>
                        <td>
                            <input type="email" 
                            placeholder="Email" 
                            class="form-control" 
                            formControlName="email">
                        </td>
                        <td>
                            <input type="number" 
                            placeholder="DNI" 
                            class="form-control" 
                            formControlName="dni">
                        </td>
                        <td>
                            <input type="text" 
                            placeholder="Nombre" 
                            class="form-control" 
                            formControlName="habitación">
                        </td>
                        <td>
                            <input type="text" 
                            placeholder="Enfermero" 
                            class="form-control" 
                            formControlName="enfermeroAsignado">
                        </td>
                    </tr>
<!--        </form>-->
        </table>
    </div>
    <button class="btn contenedor-dashboard h5" type="submit">Añadir Paciente</button>
    <button class="btn contenedor-dashboard h5" type="submit">Buscar Paciente</button>
</div>